body {
    background-color: white;  /* Default body background for light mode */
}

.pepTalkStyle {
    font-family: "Pacifico", "Dancing Script", "Sacramento", "Great Vibes", "Allura", "Kaushan Script", "Alex Brush", "Ruthie", "Biloxi Script", "Brush Script MT", "Apple Chancery", cursive, sans-serif;
    font-size: 28px;
    text-align: center;
    border: 2px dashed #DAA520;
    padding: 10px;
    max-width: 500px;
    margin: 20px auto;
    color: #8B4513;
    background-color: #FFF8DC;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222; /* Dark background for the entire page */
    }

    .pepTalkStyle {
        color: #FFDAB9;  /* Adjusted color for better contrast in dark mode */
        background-color: #444;  /* A darker background for the paragraph in dark mode */
    }
}
